:root {
    --bg-color: #fff !important;
    --navbar-bg-color:  #fff  !important;
    --footer-bg-color: #1F2937 !important;
    --primary-color: #3b82f6 !important;
    --secondary-color: #fff !important;
    --text-color: #6B7280 !important;
    --font-family: "Lexend Giga", serif !important;
  }
  
  body {
    font-family: var(--font-family) !important;
    background-color: var(--bg-color) !important;
    color: var(--text-color) ;
  }


p, a{
    color: var(--text-color) !important;
  }
  h1, h2, h3, span{
    color: var(--primary-color) !important;
  }
  nav {
    background-color: var(--navbar-bg-color) !important;
  }
  #svg{
    background-color: var(--secondary-color) !important;
  }
  
  footer {
    background-color: var(--footer-bg-color) !important;
    color: var(--text-color) !important;
  }
  
  button {
    background-color: var(--primary-color) !important;
  }
