:root {
    --bg-color: #4a503dcc !important ;
    --navbar-bg-color: #4a503dcc !important;
    --footer-bg-color: #4a503dcc !important;
    --primary-color: #3f442e !important;
    --secondary-color: #fff !important;
    --text-color: #000 !important;
    --font-body: "Libre Baskerville", sans-serif;
  }
  
  body {
    font-family: var(--font-body) !important;
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
  }
  svg{
    color: #7F3DFF !important;
    background-color: white !important;
  }
  p,a{
    color: var(--text-color) !important;
  }
  h2, i,h4{
    color: var(--text-color) !important;

  }
  nav{
    background-color: var(--navbar-bg-color) !important;
    }


  
  .header-white {
    background-color: var(--navbar-bg-color);
  }
  
  footer {
    background-color: var(--footer-bg-color) !important;
    color: var(--text-color) !important;
  }
  
  button {
    color: var(--secondary-color) !important;
    background-color: var(--primary-color) !important;
    font-family: var(--font-body) !important;
  }
  h1,i{
    color: var(--secondary-color) !important;
  }
 

   /* Glowing Floating Shapes */
   .floating-shape {

    animation: float 4s infinite alternate ease-in-out;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(10px);
    }
  }

  /* Menu Hover Effect */
  .nav-link {
    position: relative;
    transition: color 0.3s ease-in-out;
  }

  .nav-link::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 2px;
    background: white;
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover::before {
    width: 100%;
    left: 0;
  }

  /* Animated Hamburger Menu */
  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: white;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }